.fix-screen {
    position: relative;
    width: 100%;
}

.fix-screen:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.fix-screen__fixed {
    position: absolute;
    width: 100%;
    height: 100%;
}